{% extends 'vtb/base.html' %}

{% block content %}
    <ul class="store">
        <h1>Гильдии</h1>
    {% for g in guilds %}
        <li class="store">
            <h2><a href="{{g.get_absolute_url}}">{{g.guildName}}</a></h2>
            <p><img src="{{g.photo.url}}"></p>
            <p class="description">{{g.description}}</p>
            {% if request.user.is_authenticated %}
            <div class="join_guild"><p class="join_guild"><a class="join_guild" href="{% url 'join_guild' g.id user.id %}">Вступить</a></p></div>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}