{% extends 'vtb/base.html' %}
{% load vtb_tags %}

{% block profile %}
<h1 class="fio">{{myuser.firstname}} {{myuser.name}} {{myuser.lastname}}</h1>
<div class="left_panel">
    <ul class="left_menu">
        <li><h2><a class="profile" href="{% url 'user_guilds' myuser.id %}">Гильдии</a></h2></li>
        <li>
            <h2><a class="profile" href="{% url 'wallet' myuser.id %}">Кошелек</a></h2>
        </li>
        <li><h2><a class="profile" href="{% url 'inventory' myuser.id %}">Инвентарь</a></h2></li>
        <li><h2><a class="profile" href="{% url 'create_task' %}">Создать задание</a></h2></li>
    </ul>
</div>
{% endblock %}