body {
margin: 0px;
background-image: url("../images/background.png");
}
p {
font-family: "Times New Roman";
font-size: 20px;
}

a {
font-family: "Times New Roman";
text-decoration: none;
color: black;
}

ul {
list-style: none;
}

ul.menu {
background-image: url("../images/navigationpanel.png");
background-position-y: -80px;
padding: 0px 0px 20px 0px;
margin: 0px;
height: 36px;
overflow: hidden;
}

li.menu {
display: inline-block;
margin: 0px 0px 0px 0px;
padding: 15px 6% 15px 6%;
background-image: linear-gradient(to bottom, #6600ff, 95%, white);
font-size: 20px;
border: 1px solid gray;
transition: 0.3s;
}

li.profile_menu {
float: right;
margin: 10px 5px 0px 0px;
padding: 7px 15px 7px 15px;
background-image: linear-gradient(to bottom, #6600ff, 95%, white);
font-size: 10px;
border: 1px solid gray;
}

ul.menu li:hover {
background-image: linear-gradient(to top, white, 70%, #6600ff);
font-color: #564dff;
}

li.menu a {
color: #ceceff;
}

li.profile_menu a {
color: #ceceff;
}

.store {
    position: center;
}

ul li.store {
    padding: 10px;
    border: 2px;
    margin: 5px;
}

img {
    size: 20px;
    hight: 50px;
    width: 50px;
}